<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.DisplayStrings</key>
	<array>
		<string>X/Ha-cy</string>
	</array>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<false/>
	<key>com.schriftgestaltung.font.license</key>
	<string>See accompanying Open Font License text file</string>
	<key>com.schriftgestaltung.font.panose</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>30AC77F5-FB79-49A8-952A-5AFA5EE596D2</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>space</string>
		<string>OE</string>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>ampersand</string>
		<string>period</string>
		<string>comma</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>question</string>
		<string>questiondown</string>
		<string>questiondown.cap</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>reversequoteleft</string>
		<string>reversequotedblleft</string>
		<string>guilsinglleft</string>
		<string>guillemotleft</string>
		<string>slash</string>
		<string>backslash</string>
		<string>bar</string>
		<string>doublebar</string>
		<string>brokenbar</string>
		<string>bullet</string>
		<string>slash.cap</string>
		<string>backslash.cap</string>
		<string>bar.cap</string>
		<string>doublebar.cap</string>
		<string>brokenbar.cap</string>
		<string>bullet.cap</string>
		<string>nbspace</string>
		<string>enspace</string>
		<string>emspace</string>
		<string>threeperemspace</string>
		<string>fourperemspace</string>
		<string>sixperemspace</string>
		<string>figurespace</string>
		<string>punctuationspace</string>
		<string>thinspace</string>
		<string>hairspace</string>
		<string>zerowidthspace</string>
		<string>periodcentered</string>
		<string>hyphen</string>
		<string>uni00AD</string>
		<string>onethirdemdash</string>
		<string>endash</string>
		<string>threequarteremdash</string>
		<string>emdash</string>
		<string>figuredash</string>
		<string>uni2015</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>anglebracketleft</string>
		<string>anglebracketright</string>
		<string>parenleft.cap</string>
		<string>parenright.cap</string>
		<string>bracketleft.cap</string>
		<string>bracketright.cap</string>
		<string>braceleft.cap</string>
		<string>braceright.cap</string>
		<string>anglebracketleft.cap</string>
		<string>anglebracketright.cap</string>
		<string>asterisk</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>asciitilde</string>
		<string>underscore</string>
		<string>lowline</string>
		<string>underscoremonospace</string>
		<string>quotesingle</string>
		<string>quotedbl</string>
		<string>tripleprime</string>
		<string>at</string>
		<string>at.cap</string>
		<string>sterling</string>
		<string>plus</string>
		<string>minus</string>
		<string>multiply</string>
		<string>divide</string>
		<string>equal</string>
		<string>notequal</string>
		<string>approxequal</string>
		<string>less</string>
		<string>greater</string>
		<string>lessequal</string>
		<string>greaterequal</string>
		<string>logicalnot</string>
		<string>equivalence</string>
		<string>oe</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>AE</string>
		<string>Oslash</string>
		<string>germandbls</string>
		<string>acute</string>
		<string>breve</string>
		<string>caron</string>
		<string>caronSlovak</string>
		<string>cedilla</string>
		<string>altcedilla</string>
		<string>circumflex</string>
		<string>commaaccent</string>
		<string>dieresis</string>
		<string>dotaccent</string>
		<string>dotbelow</string>
		<string>doublegrave</string>
		<string>grave</string>
		<string>hungarumlaut</string>
		<string>invertedbreve</string>
		<string>macron</string>
		<string>ogonek</string>
		<string>ring</string>
		<string>tilde</string>
		<string>acute.cap</string>
		<string>breve.cap</string>
		<string>caron.cap</string>
		<string>circumflex.cap</string>
		<string>commaaccent.cap</string>
		<string>dieresis.cap</string>
		<string>dotaccent.cap</string>
		<string>doublegrave.cap</string>
		<string>grave.cap</string>
		<string>hungarumlaut.cap</string>
		<string>invertedbreve.cap</string>
		<string>macron.cap</string>
		<string>ring.cap</string>
		<string>tilde.cap</string>
		<string>interrobang</string>
		<string>interrobangdown</string>
		<string>interrobangdown.cap</string>
		<string>guilsinglright</string>
		<string>guillemotright</string>
		<string>periodcentered.cap</string>
		<string>hyphen.cap</string>
		<string>onethirdemdash.cap</string>
		<string>endash.cap</string>
		<string>threequarteremdash.cap</string>
		<string>emdash.cap</string>
		<string>figuredash.cap</string>
		<string>uni2015.cap</string>
		<string>section</string>
		<string>paragraph</string>
		<string>asciicircum</string>
		<string>exclamdown</string>
		<string>exclamdown.cap</string>
		<string>copyright</string>
		<string>registered</string>
		<string>registered.cap</string>
		<string>trademark</string>
		<string>servicemark</string>
		<string>dollar</string>
		<string>cent</string>
		<string>yen</string>
		<string>arrowleft</string>
		<string>arrowright</string>
		<string>arrowup</string>
		<string>arrowdown</string>
		<string>uni2196</string>
		<string>uni2197</string>
		<string>uni2198</string>
		<string>uni2199</string>
		<string>whitecircle</string>
		<string>blackcircle</string>
		<string>mediumwhitecircle</string>
		<string>mediumblackcircle</string>
		<string>blacksquare</string>
		<string>whitesquare</string>
		<string>squaremultiply</string>
		<string>blacksmallsquare</string>
		<string>whitesmallsquare</string>
		<string>triagup</string>
		<string>triagdn</string>
		<string>triaglf</string>
		<string>triagrt</string>
		<string>uni25E4</string>
		<string>uni25E5</string>
		<string>uni25E2</string>
		<string>uni25E3</string>
		<string>percent</string>
		<string>plusminus</string>
		<string>degree</string>
		<string>uni2605</string>
		<string>uni263C</string>
		<string>uni263E</string>
		<string>uni267B</string>
		<string>uni267C</string>
		<string>uni267D</string>
		<string>house</string>
		<string>spade</string>
		<string>club</string>
		<string>heart</string>
		<string>diamond</string>
		<string>published</string>
		<string>dotlessi</string>
		<string>idotaccent</string>
		<string>dotlessj</string>
		<string>thorn</string>
		<string>Thorn</string>
		<string>IJ</string>
		<string>Anocross</string>
		<string>ruble</string>
		<string>numbersign</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>guilsinglleft.cap</string>
		<string>guilsinglright.cap</string>
		<string>guillemotleft.cap</string>
		<string>guillemotright.cap</string>
		<string>oslash</string>
		<string>Aring</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Atilde</string>
		<string>Bdotaccent</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>Ddotaccent</string>
		<string>Eth</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>Fdotaccent</string>
		<string>Gbreve</string>
		<string>Gcircumflex</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
		<string>Hbar</string>
		<string>Hcircumflex</string>
		<string>Iacute</string>
		<string>Ibreve</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>Jcircumflex</string>
		<string>Kcommaaccent</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Ldot</string>
		<string>Lslash</string>
		<string>Mdotaccent</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Ntilde</string>
		<string>Eng</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Otilde</string>
		<string>Pdotaccent</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>Scommaaccent</string>
		<string>Eszett</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>Tcommaaccent</string>
		<string>Tdotaccent</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>Ymacron</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>atilde</string>
		<string>bdotaccent</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>ddotaccent</string>
		<string>eth</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>fdotaccent</string>
		<string>gbreve</string>
		<string>gcircumflex</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
		<string>hbar</string>
		<string>hcircumflex</string>
		<string>iacute</string>
		<string>ibreve</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>itilde</string>
		<string>jcircumflex</string>
		<string>kcommaaccent</string>
		<string>kgreenlandic</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>ldot</string>
		<string>lslash</string>
		<string>mdotaccent</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>ntilde</string>
		<string>eng</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>otilde</string>
		<string>pdotaccent</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>scommaaccent</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>tcommaaccent</string>
		<string>tdotaccent</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
		<string>ymacron</string>
		<string>ij</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>aring</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>ae</string>
		<string>perthousand</string>
		<string>ballotboxwithx</string>
		<string>Euro</string>
		<string>uni2070</string>
		<string>onesuperior</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>uni2074</string>
		<string>uni2075</string>
		<string>uni2076</string>
		<string>uni2077</string>
		<string>uni2078</string>
		<string>uni2079</string>
		<string>uni207A</string>
		<string>uni207B</string>
		<string>uni207C</string>
		<string>uni207D</string>
		<string>uni207E</string>
		<string>fraction</string>
		<string>uni2080</string>
		<string>uni2081</string>
		<string>uni2082</string>
		<string>uni2083</string>
		<string>uni2084</string>
		<string>uni2085</string>
		<string>uni2086</string>
		<string>uni2087</string>
		<string>uni2088</string>
		<string>uni2089</string>
		<string>uni208A</string>
		<string>uni208B</string>
		<string>uni208C</string>
		<string>uni208D</string>
		<string>uni208E</string>
		<string>zero.inf</string>
		<string>one.inf</string>
		<string>two.inf</string>
		<string>three.inf</string>
		<string>four.inf</string>
		<string>five.inf</string>
		<string>six.inf</string>
		<string>seven.inf</string>
		<string>eight.inf</string>
		<string>nine.inf</string>
		<string>plus.inf</string>
		<string>minus.inf</string>
		<string>equal.inf</string>
		<string>parenleft.inf</string>
		<string>parenright.inf</string>
		<string>period.T</string>
		<string>comma.T</string>
		<string>colon.T</string>
		<string>semicolon.T</string>
		<string>numero</string>
		<string>uni215F</string>
		<string>onehalf</string>
		<string>uni2153</string>
		<string>uni2154</string>
		<string>onequarter</string>
		<string>threequarters</string>
		<string>uni2155</string>
		<string>uni2156</string>
		<string>uni2157</string>
		<string>uni2158</string>
		<string>uni2159</string>
		<string>uni215A</string>
		<string>uni215B</string>
		<string>uni215C</string>
		<string>uni215D</string>
		<string>uni215E</string>
		<string>onesixteenth</string>
		<string>threesixteenths</string>
		<string>fivesixteenths</string>
		<string>sevensixteenths</string>
		<string>ninesixteenths</string>
		<string>elevensixteenths</string>
		<string>thirteensixteenths</string>
		<string>fifteensixteenths</string>
		<string>fi</string>
		<string>fl</string>
	</array>
	<key>com.schriftgestaltung.master.name</key>
	<string>Bold</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<false/>
	<key>com.schriftgestaltung.weightValue</key>
	<integer>705</integer>
	<key>com.schriftgestaltung.widthValue</key>
	<integer>5</integer>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>space</string>
		<string>OE</string>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>ampersand</string>
		<string>period</string>
		<string>comma</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>question</string>
		<string>questiondown</string>
		<string>questiondown.cap</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>reversequoteleft</string>
		<string>reversequotedblleft</string>
		<string>guilsinglleft</string>
		<string>guillemotleft</string>
		<string>slash</string>
		<string>backslash</string>
		<string>bar</string>
		<string>doublebar</string>
		<string>brokenbar</string>
		<string>bullet</string>
		<string>slash.cap</string>
		<string>backslash.cap</string>
		<string>bar.cap</string>
		<string>doublebar.cap</string>
		<string>brokenbar.cap</string>
		<string>bullet.cap</string>
		<string>nbspace</string>
		<string>enspace</string>
		<string>emspace</string>
		<string>threeperemspace</string>
		<string>fourperemspace</string>
		<string>sixperemspace</string>
		<string>figurespace</string>
		<string>punctuationspace</string>
		<string>thinspace</string>
		<string>hairspace</string>
		<string>zerowidthspace</string>
		<string>periodcentered</string>
		<string>hyphen</string>
		<string>uni00AD</string>
		<string>onethirdemdash</string>
		<string>endash</string>
		<string>threequarteremdash</string>
		<string>emdash</string>
		<string>figuredash</string>
		<string>uni2015</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>anglebracketleft</string>
		<string>anglebracketright</string>
		<string>parenleft.cap</string>
		<string>parenright.cap</string>
		<string>bracketleft.cap</string>
		<string>bracketright.cap</string>
		<string>braceleft.cap</string>
		<string>braceright.cap</string>
		<string>anglebracketleft.cap</string>
		<string>anglebracketright.cap</string>
		<string>asterisk</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>asciitilde</string>
		<string>underscore</string>
		<string>lowline</string>
		<string>underscoremonospace</string>
		<string>quotesingle</string>
		<string>quotedbl</string>
		<string>tripleprime</string>
		<string>at</string>
		<string>at.cap</string>
		<string>sterling</string>
		<string>plus</string>
		<string>minus</string>
		<string>multiply</string>
		<string>divide</string>
		<string>equal</string>
		<string>notequal</string>
		<string>approxequal</string>
		<string>less</string>
		<string>greater</string>
		<string>lessequal</string>
		<string>greaterequal</string>
		<string>logicalnot</string>
		<string>equivalence</string>
		<string>oe</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>AE</string>
		<string>Oslash</string>
		<string>germandbls</string>
		<string>acute</string>
		<string>breve</string>
		<string>caron</string>
		<string>caronSlovak</string>
		<string>cedilla</string>
		<string>altcedilla</string>
		<string>circumflex</string>
		<string>commaaccent</string>
		<string>dieresis</string>
		<string>dotaccent</string>
		<string>dotbelow</string>
		<string>doublegrave</string>
		<string>grave</string>
		<string>hungarumlaut</string>
		<string>invertedbreve</string>
		<string>macron</string>
		<string>ogonek</string>
		<string>ring</string>
		<string>tilde</string>
		<string>acute.cap</string>
		<string>breve.cap</string>
		<string>caron.cap</string>
		<string>circumflex.cap</string>
		<string>commaaccent.cap</string>
		<string>dieresis.cap</string>
		<string>dotaccent.cap</string>
		<string>doublegrave.cap</string>
		<string>grave.cap</string>
		<string>hungarumlaut.cap</string>
		<string>invertedbreve.cap</string>
		<string>macron.cap</string>
		<string>ring.cap</string>
		<string>tilde.cap</string>
		<string>interrobang</string>
		<string>interrobangdown</string>
		<string>interrobangdown.cap</string>
		<string>guilsinglright</string>
		<string>guillemotright</string>
		<string>periodcentered.cap</string>
		<string>hyphen.cap</string>
		<string>onethirdemdash.cap</string>
		<string>endash.cap</string>
		<string>threequarteremdash.cap</string>
		<string>emdash.cap</string>
		<string>figuredash.cap</string>
		<string>uni2015.cap</string>
		<string>section</string>
		<string>paragraph</string>
		<string>asciicircum</string>
		<string>exclamdown</string>
		<string>exclamdown.cap</string>
		<string>copyright</string>
		<string>registered</string>
		<string>registered.cap</string>
		<string>trademark</string>
		<string>servicemark</string>
		<string>dollar</string>
		<string>cent</string>
		<string>yen</string>
		<string>arrowleft</string>
		<string>arrowright</string>
		<string>arrowup</string>
		<string>arrowdown</string>
		<string>uni2196</string>
		<string>uni2197</string>
		<string>uni2198</string>
		<string>uni2199</string>
		<string>whitecircle</string>
		<string>blackcircle</string>
		<string>mediumwhitecircle</string>
		<string>mediumblackcircle</string>
		<string>blacksquare</string>
		<string>whitesquare</string>
		<string>squaremultiply</string>
		<string>blacksmallsquare</string>
		<string>whitesmallsquare</string>
		<string>triagup</string>
		<string>triagdn</string>
		<string>triaglf</string>
		<string>triagrt</string>
		<string>uni25E4</string>
		<string>uni25E5</string>
		<string>uni25E2</string>
		<string>uni25E3</string>
		<string>percent</string>
		<string>plusminus</string>
		<string>degree</string>
		<string>uni2605</string>
		<string>uni263C</string>
		<string>uni263E</string>
		<string>uni267B</string>
		<string>uni267C</string>
		<string>uni267D</string>
		<string>house</string>
		<string>spade</string>
		<string>club</string>
		<string>heart</string>
		<string>diamond</string>
		<string>published</string>
		<string>dotlessi</string>
		<string>idotaccent</string>
		<string>dotlessj</string>
		<string>thorn</string>
		<string>Thorn</string>
		<string>IJ</string>
		<string>Anocross</string>
		<string>ruble</string>
		<string>numbersign</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>guilsinglleft.cap</string>
		<string>guilsinglright.cap</string>
		<string>guillemotleft.cap</string>
		<string>guillemotright.cap</string>
		<string>oslash</string>
		<string>Aring</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Atilde</string>
		<string>Bdotaccent</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>Ddotaccent</string>
		<string>Eth</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>Fdotaccent</string>
		<string>Gbreve</string>
		<string>Gcircumflex</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
		<string>Hbar</string>
		<string>Hcircumflex</string>
		<string>Iacute</string>
		<string>Ibreve</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>Jcircumflex</string>
		<string>Kcommaaccent</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Ldot</string>
		<string>Lslash</string>
		<string>Mdotaccent</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Ntilde</string>
		<string>Eng</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Otilde</string>
		<string>Pdotaccent</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>Scommaaccent</string>
		<string>Eszett</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>Tcommaaccent</string>
		<string>Tdotaccent</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>Ymacron</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>atilde</string>
		<string>bdotaccent</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>ddotaccent</string>
		<string>eth</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>fdotaccent</string>
		<string>gbreve</string>
		<string>gcircumflex</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
		<string>hbar</string>
		<string>hcircumflex</string>
		<string>iacute</string>
		<string>ibreve</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>itilde</string>
		<string>jcircumflex</string>
		<string>kcommaaccent</string>
		<string>kgreenlandic</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>ldot</string>
		<string>lslash</string>
		<string>mdotaccent</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>ntilde</string>
		<string>eng</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>otilde</string>
		<string>pdotaccent</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>scommaaccent</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>tcommaaccent</string>
		<string>tdotaccent</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
		<string>ymacron</string>
		<string>ij</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>aring</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>ae</string>
		<string>perthousand</string>
		<string>ballotboxwithx</string>
		<string>Euro</string>
		<string>uni2070</string>
		<string>onesuperior</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>uni2074</string>
		<string>uni2075</string>
		<string>uni2076</string>
		<string>uni2077</string>
		<string>uni2078</string>
		<string>uni2079</string>
		<string>uni207A</string>
		<string>uni207B</string>
		<string>uni207C</string>
		<string>uni207D</string>
		<string>uni207E</string>
		<string>fraction</string>
		<string>uni2080</string>
		<string>uni2081</string>
		<string>uni2082</string>
		<string>uni2083</string>
		<string>uni2084</string>
		<string>uni2085</string>
		<string>uni2086</string>
		<string>uni2087</string>
		<string>uni2088</string>
		<string>uni2089</string>
		<string>uni208A</string>
		<string>uni208B</string>
		<string>uni208C</string>
		<string>uni208D</string>
		<string>uni208E</string>
		<string>zero.inf</string>
		<string>one.inf</string>
		<string>two.inf</string>
		<string>three.inf</string>
		<string>four.inf</string>
		<string>five.inf</string>
		<string>six.inf</string>
		<string>seven.inf</string>
		<string>eight.inf</string>
		<string>nine.inf</string>
		<string>plus.inf</string>
		<string>minus.inf</string>
		<string>equal.inf</string>
		<string>parenleft.inf</string>
		<string>parenright.inf</string>
		<string>period.T</string>
		<string>comma.T</string>
		<string>colon.T</string>
		<string>semicolon.T</string>
		<string>numero</string>
		<string>uni215F</string>
		<string>onehalf</string>
		<string>uni2153</string>
		<string>uni2154</string>
		<string>onequarter</string>
		<string>threequarters</string>
		<string>uni2155</string>
		<string>uni2156</string>
		<string>uni2157</string>
		<string>uni2158</string>
		<string>uni2159</string>
		<string>uni215A</string>
		<string>uni215B</string>
		<string>uni215C</string>
		<string>uni215D</string>
		<string>uni215E</string>
		<string>onesixteenth</string>
		<string>threesixteenths</string>
		<string>fivesixteenths</string>
		<string>sevensixteenths</string>
		<string>ninesixteenths</string>
		<string>elevensixteenths</string>
		<string>thirteensixteenths</string>
		<string>fifteensixteenths</string>
		<string>fi</string>
		<string>fl</string>
		<string>A-cy</string>
		<string>Be-cy</string>
		<string>Ve-cy</string>
		<string>Ge-cy</string>
		<string>De-cy</string>
		<string>Ie-cy</string>
		<string>Io-cy</string>
		<string>Zhe-cy</string>
		<string>Ze-cy</string>
		<string>Ii-cy</string>
		<string>Iishort-cy</string>
		<string>Ka-cy</string>
		<string>El-cy</string>
		<string>Em-cy</string>
		<string>En-cy</string>
		<string>O-cy</string>
		<string>Pe-cy</string>
		<string>Er-cy</string>
		<string>Es-cy</string>
		<string>Te-cy</string>
		<string>U-cy</string>
		<string>Ef-cy</string>
		<string>Ha-cy</string>
		<string>Che-cy</string>
		<string>Tse-cy</string>
		<string>Sha-cy</string>
		<string>Shcha-cy</string>
		<string>Softsign-cy</string>
		<string>Hardsign-cy</string>
		<string>Yeru-cy</string>
		<string>Ereversed-cy</string>
		<string>Iu-cy</string>
		<string>Ia-cy</string>
		<string>Ha-cy.001</string>
		<string>a-cy</string>
		<string>be-cy</string>
		<string>ve-cy</string>
		<string>ge-cy</string>
		<string>de-cy</string>
		<string>ie-cy</string>
		<string>io-cy</string>
		<string>zhe-cy</string>
		<string>ze-cy</string>
		<string>ii-cy</string>
		<string>iishort-cy</string>
		<string>ka-cy</string>
		<string>el-cy</string>
		<string>em-cy</string>
		<string>en-cy</string>
		<string>o-cy</string>
		<string>pe-cy</string>
		<string>er-cy</string>
		<string>es-cy</string>
		<string>te-cy</string>
		<string>u-cy</string>
		<string>ef-cy</string>
		<string>ha-cy</string>
		<string>che-cy</string>
		<string>tse-cy</string>
		<string>sha-cy</string>
		<string>shcha-cy</string>
		<string>softsign-cy</string>
		<string>hardsign-cy</string>
		<string>yeru-cy</string>
		<string>ereversed-cy</string>
		<string>iu-cy</string>
		<string>ia-cy</string>
		<string>brevecomb-cy</string>
	</array>
	<key>public.postscriptNames</key>
	<dict>
		<key>A-cy</key>
		<string>uni0410</string>
		<key>Anocross</key>
		<string>uniE731</string>
		<key>Bdotaccent</key>
		<string>uni1E02</string>
		<key>Be-cy</key>
		<string>uni0411</string>
		<key>Che-cy</key>
		<string>uni0427</string>
		<key>Ddotaccent</key>
		<string>uni1E0A</string>
		<key>De-cy</key>
		<string>uni0414</string>
		<key>Ef-cy</key>
		<string>uni0424</string>
		<key>El-cy</key>
		<string>uni041B</string>
		<key>Em-cy</key>
		<string>uni041C</string>
		<key>En-cy</key>
		<string>uni041D</string>
		<key>Er-cy</key>
		<string>uni0420</string>
		<key>Ereversed-cy</key>
		<string>uni042D</string>
		<key>Es-cy</key>
		<string>uni0421</string>
		<key>Eszett</key>
		<string>uni1E9E</string>
		<key>Fdotaccent</key>
		<string>uni1E1E</string>
		<key>Gcommaaccent</key>
		<string>uni0122</string>
		<key>Ge-cy</key>
		<string>uni0413</string>
		<key>Ha-cy</key>
		<string>uni0425</string>
		<key>Ha-cy.001</key>
		<string>uni0425.001</string>
		<key>Hardsign-cy</key>
		<string>uni042A</string>
		<key>Ia-cy</key>
		<string>uni042F</string>
		<key>Ie-cy</key>
		<string>uni0415</string>
		<key>Ii-cy</key>
		<string>uni0418</string>
		<key>Iishort-cy</key>
		<string>uni0419</string>
		<key>Io-cy</key>
		<string>uni0401</string>
		<key>Iu-cy</key>
		<string>uni042E</string>
		<key>Ka-cy</key>
		<string>uni041A</string>
		<key>Kcommaaccent</key>
		<string>uni0136</string>
		<key>Lcommaaccent</key>
		<string>uni013B</string>
		<key>Mdotaccent</key>
		<string>uni1E40</string>
		<key>Ncommaaccent</key>
		<string>uni0145</string>
		<key>O-cy</key>
		<string>uni041E</string>
		<key>Pdotaccent</key>
		<string>uni1E56</string>
		<key>Pe-cy</key>
		<string>uni041F</string>
		<key>Rcommaaccent</key>
		<string>uni0156</string>
		<key>Scommaaccent</key>
		<string>uni0218</string>
		<key>Sha-cy</key>
		<string>uni0428</string>
		<key>Shcha-cy</key>
		<string>uni0429</string>
		<key>Softsign-cy</key>
		<string>uni042C</string>
		<key>Tcommaaccent</key>
		<string>uni0162</string>
		<key>Tdotaccent</key>
		<string>uni1E6A</string>
		<key>Te-cy</key>
		<string>uni0422</string>
		<key>Tse-cy</key>
		<string>uni0426</string>
		<key>U-cy</key>
		<string>uni0423</string>
		<key>Ve-cy</key>
		<string>uni0412</string>
		<key>Yeru-cy</key>
		<string>uni042B</string>
		<key>Ymacron</key>
		<string>uni0232</string>
		<key>Ze-cy</key>
		<string>uni0417</string>
		<key>Zhe-cy</key>
		<string>uni0416</string>
		<key>a-cy</key>
		<string>uni0430</string>
		<key>altcedilla</key>
		<string>uniE416</string>
		<key>anglebracketleft</key>
		<string>uni3008</string>
		<key>anglebracketleft.cap</key>
		<string>uni3008.cap</string>
		<key>anglebracketright</key>
		<string>uni3009</string>
		<key>anglebracketright.cap</key>
		<string>uni3009.cap</string>
		<key>ballotboxwithx</key>
		<string>uni2612</string>
		<key>bdotaccent</key>
		<string>uni1E03</string>
		<key>be-cy</key>
		<string>uni0431</string>
		<key>blackcircle</key>
		<string>uni25CF</string>
		<key>blacksmallsquare</key>
		<string>uni25AA</string>
		<key>blacksquare</key>
		<string>filledbox</string>
		<key>brevecomb-cy</key>
		<string>brevecombcy</string>
		<key>caronSlovak</key>
		<string>uniE413</string>
		<key>che-cy</key>
		<string>uni0447</string>
		<key>commaaccent</key>
		<string>uniE414</string>
		<key>commaaccent.cap</key>
		<string>uni0326.cap</string>
		<key>ddotaccent</key>
		<string>uni1E0B</string>
		<key>de-cy</key>
		<string>uni0434</string>
		<key>dotbelow</key>
		<string>uniE415</string>
		<key>dotlessj</key>
		<string>uni0237</string>
		<key>doublebar</key>
		<string>uni2016</string>
		<key>doublebar.cap</key>
		<string>uniE464</string>
		<key>doublegrave</key>
		<string>uniE412</string>
		<key>doublegrave.cap</key>
		<string>uniE42C</string>
		<key>ef-cy</key>
		<string>uni0444</string>
		<key>el-cy</key>
		<string>uni043B</string>
		<key>elevensixteenths</key>
		<string>uniF220</string>
		<key>em-cy</key>
		<string>uni043C</string>
		<key>emspace</key>
		<string>uni2003</string>
		<key>en-cy</key>
		<string>uni043D</string>
		<key>enspace</key>
		<string>uni2002</string>
		<key>er-cy</key>
		<string>uni0440</string>
		<key>ereversed-cy</key>
		<string>uni044D</string>
		<key>es-cy</key>
		<string>uni0441</string>
		<key>fdotaccent</key>
		<string>uni1E1F</string>
		<key>fifteensixteenths</key>
		<string>uniF222</string>
		<key>figurespace</key>
		<string>uni2007</string>
		<key>fivesixteenths</key>
		<string>uniF217</string>
		<key>fourperemspace</key>
		<string>uni2005</string>
		<key>gcommaaccent</key>
		<string>uni0123</string>
		<key>ge-cy</key>
		<string>uni0433</string>
		<key>ha-cy</key>
		<string>uni0445</string>
		<key>hairspace</key>
		<string>uni200A</string>
		<key>hardsign-cy</key>
		<string>uni044A</string>
		<key>ia-cy</key>
		<string>uni044F</string>
		<key>idotaccent</key>
		<string>i.loclTRK</string>
		<key>ie-cy</key>
		<string>uni0435</string>
		<key>ii-cy</key>
		<string>uni0438</string>
		<key>iishort-cy</key>
		<string>uni0439</string>
		<key>interrobang</key>
		<string>uni203D</string>
		<key>interrobangdown</key>
		<string>uniE935</string>
		<key>interrobangdown.cap</key>
		<string>uniE99B</string>
		<key>invertedbreve</key>
		<string>uniE411</string>
		<key>invertedbreve.cap</key>
		<string>uniE427</string>
		<key>io-cy</key>
		<string>uni0451</string>
		<key>iu-cy</key>
		<string>uni044E</string>
		<key>ka-cy</key>
		<string>uni043A</string>
		<key>kcommaaccent</key>
		<string>uni0137</string>
		<key>lcommaaccent</key>
		<string>uni013C</string>
		<key>lowline</key>
		<string>uniE511</string>
		<key>mdotaccent</key>
		<string>uni1E41</string>
		<key>mediumblackcircle</key>
		<string>uni26AB</string>
		<key>mediumwhitecircle</key>
		<string>uni26AA</string>
		<key>nbspace</key>
		<string>uni00A0</string>
		<key>ncommaaccent</key>
		<string>uni0146</string>
		<key>ninesixteenths</key>
		<string>uniF219</string>
		<key>numero</key>
		<string>uni2116</string>
		<key>o-cy</key>
		<string>uni043E</string>
		<key>onesixteenth</key>
		<string>uniF215</string>
		<key>onesuperior</key>
		<string>uni00B9</string>
		<key>onethirdemdash</key>
		<string>uniE471</string>
		<key>onethirdemdash.cap</key>
		<string>uniE483</string>
		<key>pdotaccent</key>
		<string>uni1E57</string>
		<key>pe-cy</key>
		<string>uni043F</string>
		<key>published</key>
		<string>uni2117</string>
		<key>punctuationspace</key>
		<string>uni2008</string>
		<key>rcommaaccent</key>
		<string>uni0157</string>
		<key>reversequotedblleft</key>
		<string>uni201F</string>
		<key>ruble</key>
		<string>uni20BD</string>
		<key>scommaaccent</key>
		<string>uni0219</string>
		<key>servicemark</key>
		<string>uni2120</string>
		<key>sevensixteenths</key>
		<string>uniF218</string>
		<key>sha-cy</key>
		<string>uni0448</string>
		<key>shcha-cy</key>
		<string>uni0449</string>
		<key>sixperemspace</key>
		<string>uni2006</string>
		<key>softsign-cy</key>
		<string>uni044C</string>
		<key>squaremultiply</key>
		<string>uni22A0</string>
		<key>tcommaaccent</key>
		<string>uni0163</string>
		<key>tdotaccent</key>
		<string>uni1E6B</string>
		<key>te-cy</key>
		<string>uni0442</string>
		<key>thinspace</key>
		<string>uni2009</string>
		<key>thirteensixteenths</key>
		<string>uniF221</string>
		<key>threeperemspace</key>
		<string>uni2004</string>
		<key>threequarteremdash</key>
		<string>uniE472</string>
		<key>threequarteremdash.cap</key>
		<string>uniE485</string>
		<key>threesixteenths</key>
		<string>uniF216</string>
		<key>threesuperior</key>
		<string>uni00B3</string>
		<key>tripleprime</key>
		<string>uni2034</string>
		<key>tse-cy</key>
		<string>uni0446</string>
		<key>twosuperior</key>
		<string>uni00B2</string>
		<key>u-cy</key>
		<string>uni0443</string>
		<key>underscoremonospace</key>
		<string>uniE512</string>
		<key>uni263C</key>
		<string>sun</string>
		<key>ve-cy</key>
		<string>uni0432</string>
		<key>whitecircle</key>
		<string>circle</string>
		<key>whitesmallsquare</key>
		<string>uni25AB</string>
		<key>whitesquare</key>
		<string>uni25A1</string>
		<key>yeru-cy</key>
		<string>uni044B</string>
		<key>ymacron</key>
		<string>uni0233</string>
		<key>ze-cy</key>
		<string>uni0437</string>
		<key>zerowidthspace</key>
		<string>uni200B</string>
		<key>zhe-cy</key>
		<string>uni0436</string>
	</dict>
</dict>
</plist>
